.left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: rgb(0x26, 0x96, 0xDD); */
    background-color: rgba(5, 140, 213, 0.851);
}

.right {
    display: flex;
    width: 50%;
    height: 100vh;
    justify-content: center;
    /* align-items: center; */
}

.sides {
    display: flex;
    flex-direction: row;
}

.magnifier {
    background-color: transparent;
    height: 10%;
    width: 10%;
}

.people {
    background-color: transparent;
    height: 10%;
    width: 10%;
}