.left-text-container {
    display: flex;
    align-items: center;
    width: 75%;
    flex-wrap: wrap;
}

.left-text {
    display: flex;
    /* padding: 30px; */
    color: white;
    padding-left: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

.magnifier {
    /* background-color: transparent; */

}

.icon {
    display: flex;
}

.img-div-container {
    display: flex;
    flex-direction: row;
    padding: 25px;
}

.Icon {
    color: white;
    font-family: "edgeicons";
    font-size: 2em;
    font-weight: 3000;
}

.left-primary {
    font-size: 1.5em;
    font-weight: 900;
}

.title-container {
    color: white;
}

@media screen and (max-width: 1300px) {
    body {
        background-color: rgba(92, 244, 92, 0.906);
    }
}