.left-text-container {
    display: flex;
    align-items: center;
    width: 50%;
    flex-wrap: wrap;
    /* justify-content: center; */
    
}

.left-text {
    display: flex;
    padding: 30px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.magnifier {
    /* background-color: transparent; */

}